<div class="card h-100">

  <a [routerLink]="['/product', product.id]">
    <img [src]="product.image" [alt]="product.title" class="card-img-top">
  </a>

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <div class="card-price">{{ product.price }} ₽</div>
    <a [routerLink]="['/product', product.id]"
       class="btn btn-card btn-primary hvr-back-pulse mt-auto">Подробнее</a>
  </div>

</div>
