.catalog {
  margin-bottom: 73px;
}

.catalog-loader {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.catalog-empty {
  padding: 60px 0;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, .6);
}
